body {
    margin: 0;
    background-color: #820d15;
}
#contenedor {
    background-color:#ccb19e;
    margin: 0% 10%;
    padding: 2% 2.5% 2.5% 2.5%;
}
#titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-size: 60px;
    margin: 10px 0px;
    width: 30%;
}

h5{
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 10px 0px;
    width: 40%;
}
nav {
    margin-top: 1em;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li {
    margin: 0px 1em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
    color: #293757;
    font-size: 18px;
    text-decoration: none;
}
p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

#ttaxco {
    margin: 2em 0px;
    font-family: 'Quicksand', sans-serif;
}
#tmorelos {
    margin: 2em 0px;
    font-family: 'Quicksand', sans-serif;
}
#triviera {
    margin: 2em 0px;
    font-family: 'Quicksand', sans-serif;
}
#taxco {
    position: relative;
    width: 100%;
    height: 550px;
}
#taxco img {
    width: 20%;
    position: absolute;
}
#taxco1 {
    top: 0vh;
    left: 0%;
    z-index: 4;
}
#taxco2 {
    top: 0vh;
    left: 22%;
    z-index: 2;
}
#taxco3 {
    top: 0vh;
    left: 43%;
    z-index: 1;
}
#taxco4 {
    top: 0vh;
    left: 65%;
    z-index: 3;
}
#taxco5 {
    top: 10vh;
    left: 86%;
    z-index: 5;
}
#taxco6 {
    top: 45vh;
    left: 65%;
    z-index: 5;
}
#taxco7 {
    top: 45vh;
    left: 22%;
    z-index: 1;
}
#taxco8 {
    top: 30vh;
    left: 0%;
    z-index: 6;
}
#taxco9 {
    top: 45vh;
    left: 43%;
    z-index: 2;
}
#morelos {
    position: relative;
    width: 100%;
    height: 550px;
}
#morelos img {
    width: 20%;
    position: absolute;
}
#morelos1{
    top: 0vh;
    left: 0%;
    z-index: 4;
}
#morelos2{
    top: 0vh;
    left: 22%;
    z-index: 2;
}
#morelos3{
    top: 0vh;
    left: 45%;
    z-index: 1; 
}
#morelos4{
    top: 60vh;
    left: 60%;
    z-index: 3;
}
#morelos5{
    top: 0vh;
    left: 67%;
    z-index: 5;
    text-align: ;
}
#morelos6{
    top: 37vh;
    left: 80%;
    z-index: 5;
}
#morelos7{
    top: 45vh;
    left: 22%;
    z-index: 1;
}
#morelos8{
    top: 45vh;
    left: 0%;
    z-index: 6;
}
#morelos9{
    top: 45vh;
    left: 40%;
    z-index: 2;
}
#riviera {
    position: relative;
    width: 100%;
    height: 550px;
}
#riviera img {
    width: 20%;
    position: absolute;
}
#riviera1{
    top: 0vh;
    left: 0%;
    z-index: 4;
}
#riviera2{
    top: 0vh;
    left: 22%;
    z-index: 2;
}
#riviera3{
    top: 0vh;
    left: 45%;
    z-index: 1; 
}
#riviera4{
    top: 0vh;
    left: 70%;
    z-index: 3;
}
#riviera5{
    top: 30vh;
    left: 90%;
    z-index: 5;
}
#riviera6{
    top: 45vh;
    left: 67%;
    z-index: 5;
}
#riviera7{
    top: 45vh;
    left: 23%;
    z-index: 1;
}
#riviera8{
    top: 45vh;
    left: 0%;
    z-index: 6;
}
#riviera9{
    top: 45vh;
    left: 47%;
    z-index: 2;
}

h3 {
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    margin: 30px 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#destinos li {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: justify;
}
#otros {
    position: relative;
}
#fotos {
    position: relative;
    width: 100%;
    height: 550px;
}
#fotos img {
    width: 25%;
    position: absolute;
}
#guanajuato1{
    top: 0vh;
    left: 0%;
    z-index: 4;
}
#guanajuato2{
    top: 5vh;
    left: 22%;
    z-index: 2;
}
#jalisco1{
    top: 0vh;
    left: 45%;
    z-index: 1; 
}
#jalisco2{
    top: 3vh;
    left: 65%;
    z-index: 3;
}
#queretaro1{
    top: 5vh;
    left: 85%;
    z-index: 5;
}
#queretaro2{
    top: 60vh;
    left: 80%;
    z-index: 5;
}
#queretaro3{
    top: 60vh;
    left: 27%;
    z-index: 1;
}
#queretaro4{
    top: 35vh;
    left: 0%;
    z-index: 6;
}
#queretaro5{
    top: 55vh;
    left: 53%;
    z-index: 2;
}