body {
    margin: 0;
    background-image:url(img/FONDO.jpeg);
}
body {
    display: block;
    margin: 8px;
}
#contenedor-principal {
    margin: 0% 5%;
    padding: 2% 2.5% 2.5% 2.5%;
}
#marca {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#marca img {
    width: 15%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1 {
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    letter-spacing: 15px;
}
#categorias {
    display: inline-flexbox;
    align-content: center;
}
#categorias a {
    text-align: center;
}
#categorias img {
    width: 200%;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
#categorias {
    display: flex;
    align-content: space-around;
}

p { display:flex;
    justify-content:stretch;
    align-items:center;
    margin-inline-end: 10%;
    margin-top:10%;
    font-family: 'Nothing You Could Do', cursive;
    

}